* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #e83e8c;
    font-weight: 400;

    .container-fluid {
        img {
            max-height: 50px;
            margin-left: 50px;
        }
    }
}

.navbar-toggler {
    border: none;
    /* Elimina el borde del botón */
    background-color: #fff;
    /* Fondo blanco del botón */
}

.navbar-toggler-icon {
    background-color: #fff;
    /* Color del icono blanco */
}

.navbar-toggler:focus {
    box-shadow: none;
    /* Elimina la sombra al hacer clic */
}

#Productos {
    h1 {
        color: grey;
        text-align: center;
        font-weight: 1000;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.card {
    margin-bottom: 10px;
    width: 18rem;
}

#icons-section {
    background-color: #17a2b8;
    color: #fff;
    font-size: 50px;

    i {
        margin-right: 50px;
    }
}

footer {
    padding: 50px;
    background-color: #e83e8c;
    justify-content: center;
}